* {
    transition: .3s;
}

html {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    font-style: normal;
}

body, p, ul {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

header {
    position: relative;
    padding: 40px 0 66px 0;
    color: #fff;
    background-image: url("src/header_bg.png");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(31, 32, 33, .79);
}

.header__container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.header__top {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
}

header nav {
    display: flex;
    align-items: center;
}

.header__logo {
    position: relative;
    width: 78px;
    height: 50px;
}

.header__logo-reverse {
    position: absolute;
    left: 15px;
    transform: rotate(180deg);
}

.header__menu {
    display: flex;
    list-style: none;
}

.header__menu li {
    position: relative;
    margin-right: 80px;
}

.header__menu li a {
    color: #fff;
}

.header__menu li a:hover {
    color: #6ebbd3;
}

.header__menu li:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    width: 30px;
    height: 2px;
    margin-left: -15px;
    visibility: hidden;
    background-color: #6ebbd3;
    transition: 0.3s cubic-bezier(.22, .61, .36, 1);
}

.header__menu li:hover:after {
    bottom: -5px;
    visibility: visible;
}

.header__phone {
    font-size: 27px;
    font-weight: bold;
}

.header__note {
    font-size: 18px;
}

.header__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__title {
    position: relative;
    z-index: 2;
    margin: 50px 0 0 0;
}

main {
    padding: 37px 0 83px 0;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.sort-panel {
    display: flex;
    align-items: center;
}
.sort-panel b

.sort-panel__price,
.sort-panel__age {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.sort-panel__price:hover,
.sort-panel__age:hover {
    color: #6ebbd3;
}

.arrow {
    font-size: 12px;
}

ul a {
    text-decoration: none;
    color: black;
}

.catalog-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 21px;
    row-gap: 27px;
    padding: 38px 0 68px 0;
}

.item__photo {
    position: relative;
}

.item__photo img {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.item__photo-sale {
    position: absolute;
    top: 34px;
    left: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 78px;
    height: 39px;
    font-size: 1rem;
    color: #fff;
    background: #e62d2d;
    border-radius: 10px;
}

.item__photo-like {
    position: absolute;
    top: 36px;
    right: 32px;
    width: 46px;
    height: 40px;
    opacity: .5;
    cursor: pointer;
}

.item__info {
    display: block;
    padding: 29px 33px 29px 29px;
    margin-top: 0;
    background: #f3f3f3;
}

.item__title,
.item__trait--price {
    display: inline;
    font-size: 27px;
    font-weight: bold;
}

.item__traits {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 18px;
    margin: 22px 0;
    column-gap: 20px;
    font-size: .75rem;
}

.item__trait {
    min-width: 0;
    text-align: left;
}

.item__traits::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 26px;
    margin-left: -18px;
    background-color: #6ebbd3;
}

.item__traits b {
    font-size: 18px;
}

.item__trait--paw {
    padding-left: 20px;
}

.item__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    border-radius: 0 0 15px 15px;
    background-color: #6ebbd3;
    font-size: 18px;
    cursor: pointer;
    transition: 1s;
}

.item__button span{
    color: #fff;
    font-weight: bold;
}

.more__items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    max-width: 380px;
    margin: 0 auto;
    border: 1px solid #cacaca;
    border-radius: 10px;
    font-size: .875rem;
    box-sizing: border-box;
    cursor: pointer;
}

.more__items:hover {
    color: #fff;
    background-color: #6ebbd3;
    border: 2px solid rgba(31,32,33,.6);
}

.promo-panel {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 83px;
    padding: 83px 80px 92px;
    color: #fff;
    background-color: #1f2021;
}

.promo__title {
    position: relative;
    align-items: center;
    justify-content: center;
}

.promo__title h1 {
    margin-top: 0;
    margin-bottom: 26px;
    font-size: 3em;
    font-weight: 700;
    line-height: 58px;
}

.promo__title p {
    font-size: 1.75rem;
    line-height: 25px;
}

.promo__form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.promo__form__email {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    height: 65px;
    padding-left: 33px;
    margin-right: 16px;
    color: #1f2021;
    background-color: #fff;
    border-radius: 10px;
}

.promo__form__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 65px;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #6ebbd3;
    transition: 1s;
    cursor: pointer;
}
.promo__form__subscribe{
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.news {
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.news::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 18px;
    background: #fff;
    border: 1px solid #adb5bd;
    border-radius: 3px;
    box-sizing: border-box;
}