* {
    transition: .3s;
}

html {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    font-style: normal;
}

body, p, ul {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

header {
    position: relative;
    padding: 40px 0 66px 0;
    color: #fff;
    background-image: url("src/header_bg.png");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(31, 32, 33, .79);
}

.header__container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.header__navpriv {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    position: relative;
    row-gap: 20px;
    z-index: 2;
}

header nav {
    display: flex;
    align-items: center;
}

.header__logo {
    position: relative;
    width: 78px;
    height: 50px;
}

.header__logo-reverse {
    position: absolute;
    left: 15px;
    transform: rotate(180deg);
}

.header__menu {
    display: flex;
    column-gap: 80px;
    list-style: none;
}

.header__menu li {
    position: relative;
}

.header__menu li a {
    color: #fff;
}

.header__menu li a:hover {
    color: #6ebbd3;
}

.header__menu li:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    width: 30px;
    height: 1px;
    margin-left: -15px;
    visibility: hidden;
    background-color: #6ebbd3;
    transition: 0.3s cubic-bezier(.22, .61, .36, 1);
}

.header__menu li:hover:after {
    bottom: -5px;
    visibility: visible;
}

.header__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.header__phone {
    font-size: 27px;
    font-weight: bold;
}

.header__note {
    font-size: 18px;
}

.header__title {
    position: relative;
    z-index: 2;
    margin: 50px 0 0 0;
}

main {
    padding: 37px 0 83px 0;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.sort-panel {
    display: flex;
    align-items: center;
    column-gap: 55px;
}

.sort-panel__price,
.sort-panel__age {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.sort-panel__price:hover,
.sort-panel__age:hover {
    color: #6ebbd3;
}

.arrow {
    font-size: 12px;
}

ul a {
    text-decoration: none;
}

.catalog-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 21px;
    row-gap: 27px;
    padding: 38px 0 68px 0;
}

.product-card__photo {
    position: relative;
    width: 100%;
}

.product-card__photo img {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.product-card__sale {
    position: absolute;
    top: 34px;
    left: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 78px;
    height: 39px;
    font-size: 1rem;
    color: #fff;
    background: #e62d2d;
    border-radius: 10px;
}

.product-card__like {
    position: absolute;
    top: 36px;
    right: 32px;
    width: 46px;
    height: 40px;
    opacity: .5;
    cursor: pointer;
}

.product-card__info {
    display: block;
    padding: 30px;
    margin-top: 0;
    background: #f3f3f3;
}

.product-card__title,
.product-card__trait--price {
    display: inline;
    font-size: 27px;
    font-weight: bold;
}

.product-card__traits {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 18px;
    margin: 22px 0;
    column-gap: 20px;
    font-size: .75rem;
}

.product-card__trait {
    min-width: 0;
    text-align: left;
}

.product-card__traits::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 26px;
    margin-left: -18px;
    background-color: #6ebbd3;
}

.product-card__traits b {
    font-size: 18px;
}

.product-card__trait--paw {
    padding-left: 20px;
}

.product-card__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    border-radius: 0 0 15px 15px;
    background-color: #6ebbd3;
    font-size: 18px;
    cursor: pointer;
    transition: 1s;
}

.product-card__button span{
    color: #fff;
    font-weight: bold;
}

.more-product-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    max-width: 380px;
    margin: 0 auto;
    border: 1px solid #cacaca;
    border-radius: 10px;
    font-size: .875rem;
    box-sizing: border-box;
    cursor: pointer;
}

.more-product-cards:hover {
    color: #fff;
    background-color: #6ebbd3;
    border: 2px solid rgba(31,32,33,.6);
}

.subscription-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 83px;
    padding: 83px 80px 92px;
    color: #fff;
    background-color: #1f2021;
}

.subscription-form__title {
    align-items: center;
    justify-content: center;
}

.subscription-form__title h1 {
    margin-top: 0;
    margin-bottom: 26px;
    font-size: 3em;
    font-weight: 700;
    line-height: 58px;
}

.subscription-form__title p {
    font-size: 1.75rem;
    line-height: 25px;
}

.subscription-form__form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscription-form__email {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    height: 65px;
    padding-left: 33px;
    margin-right: 16px;
    color: #1f2021;
    background-color: #fff;
    border-radius: 10px;
}

.subscription-form__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 65px;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #6ebbd3;
    transition: 1s;
    cursor: pointer;
}

.subscription-form__subscribe{
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.subscription-form__subscribe input {
    background-color: #6ebbd3;
}

.subscription-form__subscribe label {
    padding-left: 10px;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.menu-burger {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.menu-burger span {
    height: 0.4rem;
    width: 3rem;
    background-color: #fff;
}

.menu-burger__menu {
    display: none;
    background-color: #000000;
    font-size: 70px;
}

.menu-burger span{
    font-weight: bold;
    font-size: 18px;
}

.menu-burger__menu li a {
    color: #fff;
    text-decoration: none;
    list-style: none;
}

/* css breakpoints */
@media screen and (max-width: 1200px) {
    main {
        padding: 37px 0 0 0;
    }
    .container {
        width: 100%;
        margin: unset;
    }

    header nav {
        justify-content: flex-end;
    }
    .header__top {
        grid-template-rows: repeat(2, 1fr);
        display: flex;
        flex-direction: column;
    }
    .header__contact {
        margin-top: 20px;   /* отступ сверху */
        align-items: flex-start;
        grid-row: 2 / 3;
    }
    .sort-panel {
        padding-left: 5vw;
    }
    .catalog-panel {
        grid-template-columns: repeat(2, 1fr);
    }
    .subscription-form {
        text-align: center;
        grid-template-columns: auto;
        row-gap: 60px;
    }
}

@media screen and (max-width: 768px) {
    .header__menu {
        display: none;
    }
    .header__contact {
        grid-column: 1 / -1;
        justify-content: center;
    }
    .menu-burger {
        display: flex;
        align-items: flex-end;
    }
}
@media screen and (max-width: 480px) {
    .catalog-panel {
        grid-template-columns: 1fr;
    }
    .sort-panel {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
}