* {
    transition: 0.3s;
}

html {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    font-style: normal;
}

body, p, ul {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

header {
    position: relative;
    padding: 40px 0 66px 0;
    color: #fff;
    background-image: url("src/assets/images/header_bg.png");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 32, 33, 0.79);
}

.header__container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    position: relative;
    row-gap: 20px;
}

header nav {
    display: flex;
    align-items: center;
}

.header__logo {
    position: relative;
    width: 78px;
    height: 50px;
}

.header__logo-reverse {
    position: absolute;
    left: 15px;
    transform: rotate(180deg);
}

.header__menu {
    display: flex;
    column-gap: 80px;
    list-style: none;
}

.header__menu li {
    position: relative;
}

.header__menu li a {
    color: #fff;
    text-decoration: none;
}

.header__menu li a:hover {
    color: #6ebbd3;
}

.header__menu li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    width: 30px;
    height: 1px;
    transform: translateX(-50%);
    visibility: hidden;
    background-color: #6ebbd3;
    transition: 0.5s;
}

.header__menu li:hover::after {
    bottom: -5px;
    visibility: visible;
}

.header__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.header__phone {
    font-size: 1.5rem;
    font-weight: bold;
}

.header__note {
    font-size: 1rem;
}
.header__title {
    position: relative;
    margin: 50px 0 0 0;
}

main {
    padding: 37px 0 83px 0;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.sort-panel {
    display: flex;
    align-items: center;
    column-gap: 55px;
}

.sort-panel__price,
.sort-panel__age,
.sort-panel__reset-all {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.sort-panel__price:hover,
.sort-panel__age:hover,
.sort-panel__reset-all:hover {
    color: #6ebbd3;
}

.arrow-icon.rotated {
    transform: rotate(180deg);
}

ul a {
    text-decoration: none;
}

.catalog-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 21px;
    row-gap: 27px;
    padding: 38px 0 68px 0;
}

.product-card {
    overflow: hidden;
}

.product-card__photo {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.product-card__photo img {
    display: block;
    width: 100%;
    box-sizing: border-box;
    transition: 1s;
}

.product-card__photo img:hover {
    transform: scale(1.1);
}

.product-card__sale {
    position: absolute;
    top: 34px;
    left: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 78px;
    height: 39px;
    font-size: 1rem;
    color: #fff;
    background: #e62d2d;
    border-radius: 10px;
}

.product-card__like {
    background: url("src/assets/images/like.png");
    position: absolute;
    top: 36px;
    right: 32px;
    width: 46px;
    height: 40px;
    opacity: 1;
    cursor: pointer;
}

.product-card__like--dimmed {
    opacity: 0.5;
}

.product-card__info {
    display: block;
    padding: 30px;
    margin-top: 0;
    background: #f3f3f3;
}

.product-card__title,
.product-card__trait--price {
    display: inline;
    font-size: 1.4rem;
    font-weight: bold;
}

.product-card__traits {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 18px;
    margin: 22px 0;
    column-gap: 20px;
    font-size: 0.85rem;
}

.product-card__trait {
    max-width: 100px;
    min-width: 95px;
    text-align: center;
}

.product-card__traits::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 26px;
    margin-left: -18px;
    background-color: #6ebbd3;
}

.product-card__traits b {
    font-size: 0.9rem;
}

.product-card__trait--paw {
    padding: 0 20px 0 10px;
}

.product-card__button,
.product-card__button--sold-out,
.product-card__button--in-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    border-radius: 0 0 15px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: 1s;
}

.product-card__button {
    background-color: #6ebbd3;
}

.product-card__button--sold-out,
.product-card__button--in-cart {
    background-color: #1f2021;
}

.product-card__button:hover,
.product-card__button--sold-out:hover,
.product-card__button--in-cart:hover {
    transform: scale(1.1);
}

.product-card__button span,
.product-card__button--sold-out span {
    color: #fff;
    font-weight: bold;
}

.more-product-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    max-width: 380px;
    margin: 0 auto;
    border: 1px solid #cacaca;
    border-radius: 10px;
    font-size: 0.875rem;
    box-sizing: border-box;
    cursor: pointer;
}

.more-product-cards:hover {
    color: #fff;
    background-color: #6ebbd3;
    border: 2px solid rgba(31, 32, 33, 0.6);
}

.subscription-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 83px;
    padding: 83px 80px 92px;
    color: #fff;
    background-color: #1f2021;
}

.subscription-form__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.subscription-form__title h1 {
    margin-top: 0;
    margin-bottom: 26px;
    font-size: 3em;
    font-weight: 700;
    line-height: 58px;
}

.subscription-form__title p {
    font-size: 1.75rem;
    line-height: 30px;
}

.subscription-form__form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscription-form__email {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    height: 65px;
    font-size: 0.8rem;
    padding-left: 33px;
    margin-right: 16px;
    color: #1f2021;
    background-color: #fff;
    border-radius: 10px;
}

.subscription-form__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 65px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.8rem;
    color: #fff;
    background-color: #6ebbd3;
    transition: 1s;
    cursor: pointer;
}

.subscription-form__subscribe {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.subscription-form__subscribe input {
    background-color: #6ebbd3;
}

.subscription-form__subscribe label {
    padding-left: 10px;
    font-size: 0.8rem;
    line-height: 17px;
    cursor: pointer;
}

.notification {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #6ebbd3;
    font-size: 1rem;
    color: #fff;
}

.error {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #e62d2d;
    font-size: 1rem;
    color: #fff;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 1200px) {
    main {
        padding: 37px 0 0 0;
    }

    .container {
        width: 100%;
        margin: unset;
    }

    header nav {
        justify-content: flex-end;
    }

    .header__top {
        display: flex;
        flex-direction: column;
        grid-template-rows: repeat(2, 1fr);
    }

    .header__contact {
        margin-top: 20px;
        align-items: flex-start;
        grid-row: 2 / 3;
    }

    .sort-panel {
        padding-left: 5vw;
    }

    .catalog-panel {
        grid-template-columns: repeat(2, 1fr);
    }

    .subscription-form {
        text-align: center;
        grid-template-columns: auto;
        row-gap: 60px;
    }
}

@media screen and (max-width: 768px) {
    .header__menu {
        display: none;
    }

    .header__contact {
        grid-column: 1 / -1;
        justify-content: center;
    }

    .mobile-menu__close {
        position: fixed;
        top: 40px;
        left: -100%;
        cursor: pointer;
        transition: left 1s ease-in-out;
    }

    .mobile-menu__close.active {
        left: 40px;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        transition: left 1s ease-in-out;
    }

    .mobile-menu.active {
        left: 0;
    }

    .mobile-menu__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: space-around;
        height: 70%;
        font-size: 70px;
        gap: 20px;
    }

    .mobile-menu__list li {
        position: relative;
        display: inline-block;
        color: #fff;
    }

    .mobile-menu__list li a {
        color: #fff;
        text-decoration: none;
        opacity: 0.9;
    }

    .mobile-menu__list li a:hover {
        color: #6ebbd3;
    }

    .mobile-menu__list li:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -15px;
        width: 90px;
        height: 4px;
        background-color: #6ebbd3;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s cubic-bezier(.22, .61, .36, 1);
        cursor: pointer;
    }

    .mobile-menu__list li:hover:after {
        bottom: -5px;
        opacity: 1;
        visibility: visible;
    }

    .mobile-menu__open {
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;
    }

    .mobile-menu__open span {
        width: 3rem;
        height: 0.4rem;
        background-color: #fff;
        font-weight: bold;
        font-size: 1rem;
    }
}

@media screen and (max-width: 760px) {
    .catalog-panel {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    .sort-panel {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
}